<div class="header-top">
  <div class="container">
    <img src="../../../../assets/logo.png" alt="BEAR Logo">
    <span>
    Block-chain Equal-Opportunity Application for Real-Estate
  </span>
  </div>
</div>

<div class="header-sub">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav custom-header-ul">
        <li class="nav-item" [ngClass]="{'active' : name === 'Properties'}">
          <a class="nav-link" routerLink="/property-listings">Properties </a>
        </li>
        <li class="nav-item" [ngClass]="{'active' : name === 'Add Property'}" *ngIf="name !== 'Properties'">
          <a class="nav-link" routerLink="/add-property">Add Property </a>
        </li>
        <li class="nav-item nav-logout" *ngIf="name !== 'Properties'">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

