
<div class="bg-form">
  <form class="form-sign-in" (submit)="login()">
    <img class="mb-4" src="../../../assets/logo.png" alt="BEAR Logo">
    <p>Block-chain Equal-Opportunity Application for Real-Estate</p>
    <label for="inputEmail" class="sr-only">CNIC</label>
    <input type="number" id="inputEmail" class="form-control" placeholder="CNIC" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-dark btn-block" type="submit">Login</button>
  </form>
</div>

